/*class for body of page.   Children will inherit without further class specification*/
body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    margin: 0;

}

/* id for header.  ID becuase it is only used once on each page, by one element */
#header {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 0px;
	margin-bottom:  0px;
	background-color: black;
	height: 100px;
	position: fixed;
	top: 0;
	width: 780px;
}

/* specific id detail for h1 elements within header element*/
#header h1 {

	font-family: 'Courier New', Courier;
	font-size: 60px;
	font-weight: 500;
	color: white;
	text-align: left;
   	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px; 
	display: inline-block;
}

#header a {
	color: white;
	text-decoration: none;
}


ul.nav{
	padding: 5px;
	margin: 0;
	list-style: none;
	margin-left: 250px;
    display: inline-block;
}

li.nav {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

.nav img {
	height: 45px;
	width: 45px;
	background: white;
}


/*id for rest of page, only used once*/

#overlay {
	background-color: #fbfbfb;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 0px;
	min-height: 600px;
	padding-top: 100px;

}

/* class for all elements withing h1 blog title to adopt */
h1.blog_title {
    color: black;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 5px;
    text-align: left;
    font-family: "Courier";
}
/** class for pub details, specifically applying to <p> **/
.publication_details p {
	font-family: "Courier";
	font-size: 12px;
	margin-top: 0;
	display: inline;
}

/**apply tags class only to ul element, not to child elements **/
ul.tags {
	padding-left: 5px;
	list-style-type: none
	margin: 0px;
	display: inline;
}


.tags li {
	display: inline-block;
	padding: 10px;
	margin: 0;
	font-family: "Courier";
	color: white;
	font-size: 12px;
	background-color: black;
}

p {
    font-family: "Courier";
    font-size: 15px;
}

div.blog-post {
	margin-left: 250px;
	margin-top: 15px;
	margin-right: 250px;
	margin-bottom: 15px;
}


