/*class for body of page.   Children will inherit without further class specification*/

/*

* {
   outline: 1px solid red !important;
}  

*/


/* Media queries*/

@media only screen and (max-width: 750px) {
    #header {
        min-width: 100%;
    }
    #overlay {
        min-width: 100%;
    }
}


/***************/

html {
	height: 100%
}

body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    margin: 0;

}

/* id for header.  ID becuase it is only used once on each page, by one element */
#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    height: initial;
    width: 70%;
}

/* specific id detail for h1 elements within header element*/
#header h1 {
    font-family: 'Courier New', Courier;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

#header a {
	color: white;
	text-decoration: none;
}


ul.nav{
	padding: 5px;
	margin: 0;
	list-style: none;
    float: right;
}

li.nav {
	display: inline-flex;
	padding-left: 5px;
	padding-right: 5px;
}

.nav img {
	height: 3em;
	width: 3em;
	background: white;
}



/** class for pub details, specifically applying to <p> **/
.publication_details p {
	font-family: "Courier";
	font-size: 12px;
	margin-top: 0;
	display: inline;
}

/**apply tags class only to ul element, not to child elements **/
ul.tags {
	padding-left: 5px;
	list-style-type: none
	margin: 0px;
	display: inline;
}


.tags li {
	display: inline-block;
	padding: 10px;
	margin: 0;
	font-family: "Courier";
	color: white;
	font-size: 12px;
	background-color: black;
}
/*Styling for content in side blogs.    Make classes more next week*/


#overlay {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    min-height: 100%;
    padding-top: 2%;
    width: 70%;
    font-family: "Courier";
    font-size: 15px;

}

h1.blog_title {
    color: black;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 5px;
    text-align: left;
    font-family: "Courier";
    font-size: 150%;
}

h2 {
    font-family: 'Courier';
    font-weight: 400;
}
p  {
    font-family: "Courier";
    font-size: 15px;
}

img {
    margin: auto;
    max-width: 40em;
    display: block;
}

/*****************/
/* Class for posts on index page  */
div.post {
    max-width: 90%;
	margin-left: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
}

.post a {
	color: black;
    display: inline;
}
.post p {
    font-size: 20px;
    font-weight: 700;
}

/***********************************/

/* Type writter divider image propoerties*/
.divider img {
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.divider {
    padding-top: 15px;
}
/********************************/

/*  styling for iframe video of shereef */
iframe {
    border-style: none;
    display: block;
    margin: auto;
}



