/*
_______________________________________________

Contents
_______________________________________________

-Globals

-Media Queries

*/



/*
_______________________________________________

Global
_______________________________________________
*/

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: courier;
    height: 100%;
    background-color: #FFFFFF;
}


/*
_______________________________________________

Media Queries
_______________________________________________
*/


/* Larger than mobile */
/*@media only screen and (min-width: 400px) {
    .ext-links ul {
        justify-content: space-between;
        display: flex;
    }

    .ext-links img {
        max-height: 4em;
        padding: 0;
        margin: 0;
    }

    .heading ul {
        display: none;
    }


    .row {
        width: 100%;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}*/

/* Larger than phablet */
/*@media only screen and (max-width: 550px) {


    .ext-links ul {
    justify-content: space-between;
    display: flex;
        
    }
    .ext-links img {
    max-height: 4em;
    padding: 0;
    margin: 0;
    }

    .row {
        width: 100%;
    }

        .container {
        margin-left: 0;
        margin-right: 0;
    }


}*/

/* Larger than tablet */
/*@media (min-width: 750px) {

    body {
        background-color: white;
    }

    .ext-links ul {
    justify-content: space-between;
    display: flex;
        
    }
    .ext-links img {
    max-height: 7em;
    padding: 0;
    margin: 0;
    }
}*/

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*
_______________________________________________

Navbar at top
_______________________________________________
*/

.ext-links {
    margin-left: auto;
}
.ext-links ul {
    margin-right: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.ext-links li {
    padding: 1em;
}

.ext-links img {
    padding: 0;
    margin: 0;
    max-height: 3em;

}

a {
    padding: 0;
    margin: 0;
}



/*
_______________________________________________

Header
_______________________________________________
*/




.heading {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-top: 5em;
}


.heading ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: #545E67;
}

h1 {
    font-size: 3em;
    color: #545E67;
    border-bottom: solid 1px;
    width: auto;
}
h2 {
    font-size: 2em;

}

/*
_______________________________________________

Main
_______________________________________________
*/

.main a {
    display: block;
    text-align: center;
    font-size: 2em;
    color: #F7D100;
}




/*
_______________________________________________

Footer & wrapper for sticky footer
_______________________________________________
*/

.wrapper {
    margin-bottom: -7em;
    min-height: 100%;
}

footer {
    position: relative;
    height: 100%;
    bottom: 0;
}

/*
_______________________________________________

Design tools
_______________________________________________
*/
/** {
    outline:  solid 2px blue;
}*/