


header h1 {
text-align: center;
}

h4 {
  text-align: center;
  margin: 0;
}


#main {
  display: block;
}


.racer_table {
  background-image: url("racecar/faraway.png");
  background-repeat: no-repeat;
background-size: cover;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;

 
}


td {
  height: 30px;
  width: 30px;
  /*background-color: grey;*/
}



.racer_table td.active {
  background-image: url("racecar/xwing.png");
  background-size: cover;
}


td.othercars { 
  background-image: url("racecar/Tie-Fighter-03-icon.png");
  background-size: cover;
 }

.Player_1 {
    border-right: yellow 5px;
    border-right-style: dashed;
}

.Player_2 {
    border-right: white 5px;
    border-right-style: dashed;
}



#car1 {
  height: 50px;
  width: 50px;
  background-color: blue;
}



body {
  background-color: black;
  font-family: 'Geostar Fill', cursive;
  color: yellow;
}

#scorebox {
  margin-left: 70px;
}

#player2box {
  margin-right: 70px;
}
section.trafficlights {
    height: 210px;
    width: 90px;
    background-color: black;
    margin-top: 250px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.light1 {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

.light2 {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

.light3 {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

.greenlight {
  background-color: green;
}
.redlight {
  background-color: red;
}

.countdownbox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  font-size: 30px;
}

.blaster {
  background-image: url('racecar/blaster.jpeg');
  background-size: contain;
}


